###C++###

## Without extension
*
!/**/
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## VS Files
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.lastbuildstate
*.mfcribbon-ms
*.lby~

## Archives
*.zip

## Folders
Debug/
Release/
x64/
src/

## LOG Files
*.log
*.tlog

## I don't know
*.idb
*.pdb
*.res
*.aps
*.lby